/* Tablet */
body {
  font-size: 16px;
  background: #f9f9f9;
}

header h1 {
  font-size: 24px;
}

nav ul li {
  display: inline-block;
  margin: 0 12px;
}

main {
  padding: 25px;
}

/* Tablet: 482px to 901px */
@media (min-width: 482px) and (max-width: 901px) {
  body {
    font-size: 16px;
  }
  nav ul li {
    display: inline-block;
    margin: 0 12px;
  }
}
