/* Laptop/Desktop (901px and up) */

@media (min-width: 901px) {
  body {
    font-size: 18px;
  }
  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
}

body {
  font-size: 18px;
  background: #f9f9f9;
}

header h1 {
  font-size: 28px;
}

nav ul li {
  margin: 0 15px;
}

main {
  padding: 30px;
  max-width: 1200px;
}
